#main{
    background-image: url(../img/2.jpg);
    background-size: cover;
    height: 100vh;
}

.hijos{
    display: flex!important;
    align-items: center;
    border-radius: 10px;
    padding: 10px
}


.hijos:nth-child(even)> p{
  order: -1
}